@import '../../variables.scss';
.header {
	background-color: #eee;
	&__logo {
		width: 200px;
		padding: 10px 20px;
		margin: 10px;
		background-color: $baseGray;
		border-radius: 5px;
	}
	& > div {
		padding: 0 40px 0 20px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1366px;
	}
}
