@import '../../variables.scss';

.footer__container {
	height: 160px;
	background-color: #eee;
	padding: 0 40px;
	&__socialMedia {
		padding-top: 40px;
		flex-flow: flex-start;
	}
	&__copyRight {
		padding: 0 10px;
		justify-content: space-between;
		&__email {
			text-align: left;
		}
	}
}
